@import '../../variables.scss';


.slider {
background-color: #98c1d9ab; 
padding-bottom: 25px;
p{
    text-align: center;
    padding-top: 15px;
    font-size:$font-xl;
    font-weight: 500;
    color: black;
}
.caraousel{
    width: 90vw;
    margin: 0px auto;
    padding-top: 30px;
    
    img{
        height: 430px;
        cursor: pointer;
    }
}
}