@import '../../variables.scss';

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 1px solid #d3d3d3;
    width: 800px;
    padding: 1em;
    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        p{
            font-weight: bolder;
        }
        span{
            font-weight: bolder;
            font-size: $font-l;
        }
    }

    .quantity{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        &-changer{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:8px;
            .remove{
                color: red;
                cursor: pointer;
            }
            .add{
                color: green;
                cursor: pointer;
            }
            span{
                font-size: $font-l;
            }
        }
    }

    .bin{
        color: red;
        cursor: pointer;
    }
    
}

@include media-l{
    .item{
        width: 95vw;
    }
}

@include media-m{
    .item{
        flex-direction: column;
    }
}